body {
    background: #f2f4f8;
    font-family: "Poppins", sans-serif;
}

.container {
    max-width: 500px;
    background: white;
    padding: 25px;
    margin: 60px auto;
    border-radius: 10px;
    box-shadow: 0 3px 12px rgba(0,0,0,0.15);
}

h2, h3 {
    text-align: center;
    font-weight: 600;
    color: #333;
}

label {
    font-weight: 500;
    color: #444;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #bbb;
    margin-top: 6px;
    margin-bottom: 15px;
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    background: #5965e2;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #404ccf;
}

.option-box {
    background: #eef0ff;
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.result-card {
    background: #e1e4ff;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 8px;
}
body{
    background-color: black;
}